<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="./layout.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item item-1">Logo</div>
      <div class="grid-item item-2">Nav Links</div>
      <div class="grid-item item-3">Banner</div>
      <div class="grid-item item-4">Aside</div>
      <div class="grid-item item-5">Content 1</div>
      <div class="grid-item item-6">Content 2</div>
      <div class="grid-item item-7">Section</div>
      <div class="grid-item item-8">Footer</div>
    </div>
  </body>
</html>
