* {
  margin: 0;
}

header ul {
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  list-style: none;
  display: flex;
  height: 100px;
  font-size: 24px;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
}

aside {
  width: 120%;
}

aside ul {
  list-style: none;
  background-color: rgba(0, 139, 139, 0.772);
  color: white;

  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
}

footer {
  background-color: black;
  color: white;
  height: 97px;
  text-align: center;
  line-height: 97px;
}

body > div {
  display: flex;
}

body > div p {
  padding: 35px;
}
